<div class='robot-form'>
  <%= form_for(robot) do |f| %>

    <% if robot.errors.any? %>
      <div class="errors">
        <h2><%= pluralize(robot.errors, 'robo-error') %></h2>
      </div>
      <ul>
        <% robot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="field">
      <%= f.label :name, 'name' %>
      <%= f.text_field :name %>
    </div>

    <div class="actions">
      <%= f.submit 'robo-add' %>
    </div>

  <% end %>
</div>
