<h1 id='inventory-title' class='t-a'> Inventory </h1>

<div class='outside-container center'>
  <div id="in-stock-container" class="shadow">
      <h2 id='in-stock-title' class='underline'>In Stock</h2>
      <% Robot.in_stock.each do |robot| %>
        <div class="in-stock-robot shadow">
          <h3><%= link_to robot.name, robot %></h3>
          <p><%= "Model No: #{robot.product.model_number}" %></p>
        </div>
      <% end %>
  </div>
  <% if session[:admin] %>
    <div id="on-order-container" class="shadow">
      <h2 id='on-order-title' class='underline'>On Order</h2>
      <% Robot.on_order.each do |robot| %>
        <div class="on-order-robot <%= 'past-due' if robot.past_due? %>">
          <h3><%= link_to robot.name, robot %></h3>
            <p><%= "Expected: #{DateHelper.prettify(robot.expected_date)}" %></p>      </div>
      <% end %>
    </div>
  <% end %>
  <div class='clear'></div>
</div>
