<h2><%= @product.model_number%></h2>

<p><%= @product.height %> yards</p>
<p><%= @product.weight %> tons</p>
<p><%= @product.manufacturer.name %></p>

<% if session[:admin] %>
  <%= render 'robots/form', robot: Robot.new %>
<% else %>
  <h3>Buy one of these 'bots!</h3>
  <% @product.robots.each do |robot| %>
    <%= link_to robot.name, robot_path %>
  <% end %>
<% end %>
