<h2><%= @product.model_number%></h2>

<p><%= @product.height %> yards</p>
<p><%= @product.weight %> tons</p>
<p><%= @product.manufacturer.name %></p>

<% if session[:admin] %>
  <%= render 'robots/form', robot: Robot.new %>
<% end %>
<!-- Show all the robots in stock or on order that match this product id;
link to their show page -->
