<!DOCTYPE html>
<html>
  <head>
    <title>NotAWebsite</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <nav>
    <ul>
      <li id='psklrmrfi-link'><%= link_to 'PSKLRMRFI', robots_path %></li>
      <li><%= link_to 'I Love Mutants!', 'https://en.wikipedia.org/wiki/Amish' %></li>
      <li><%= link_to 'new order', new_robot_path %></li>
      <li><%= link_to 'logout', robots_path %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
