<!DOCTYPE html>
<html>
  <head>
    <title>NotAWebsite</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <% if !current_page?(root_path) || current_page?(login_path) %>
    <nav>
      <ul>
        <li id='psklrmrfi-link'><%= link_to 'PSKLRMRFI', robots_path %></li>
        <li><%= link_to 'view manufacturers', manufacturers_path %></li>
        <% if session[:admin] %>
          <li><%= link_to 'logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'log in', login_path %></li>
        <% end %>
      </ul>
    </nav>
  <% end %>

  <body>
    <div id="notice"><%= flash[:notice] %></div>
    <div id="error"><%= flash[:error] %></div>
    <%= yield %>
  </body>
</html>
